#appDash{
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
}
.appFeed{
    
}

.leftspacer{
    width: 20vw !important;
    border-left: solid 2px #ffffff39;
}


@media screen and (max-width: 1024px){
    .leftspacer{
        width: 19rem !important;
        
    }
}